.card
    width 100%;
    background-color white
    border-radius 0 10px 10px 10px
    // overflow hidden
    vertical-align top
    .title
        height 40px
        font-size 15px
        line-height 40px
        font-weight bold
        padding-left 10px
        border-left 4px solid #096CA1
        border-bottom 1px solid #ddd
    .content
        padding 12px
        min-height 200px