.card
    width 100%;
    height 300px
    overflow hidden
    background-color white
    border-radius 0 10px 10px 10px
    background-color white
    vertical-align top
    .title
        height 39px
        font-size 15px
        line-height 40px
        font-weight bold
        padding-left 10px
        border-left 4px solid #096CA1
        border-bottom 1px solid #ddd
    .content
        padding 12px
        height 260px
        line-height 30px
        font-size 18px
        box-sizing border-box
        overflow hidden