<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="app" ng-controller="appCtrl">
    姓 <input type="text" ng-model="firstName">
    名 <input type="text" ng-model="secondName">
    您的姓名是 <span>{{firstName + ' ' + secondName}}</span>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script>
    angular.module('app',[])
        // 如果‘app’后边不写一个空数组就会报错
        .controller('appCtrl',function ($scope) {
            $scope.firstName = 'john';
            $scope.secondName = 'smith'
        })
</script>
</body>
</html>