<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span>ng-options和ng-repeat的区别: <br>
    前者选中时选中的是对象，后者选中时选中的是单纯的字符串 <br></span>
<div ng-app="select" >
    <div ng-controller="selectCtrl">
        <select name="" id="" ng-options="x.site for x in names" ng-model="selectedSite" >

        </select>
        <span>你选中的是{{selectedSite}}</span>
    </div>
    <div ng-controller="selectCtrl0">
        <select name="" ng-options="x for (x,y) in names" ng-model="selectedSite">

        </select>
        <span>你选中的是{{selectedSite}}</span>
    </div>
    <div ng-controller="selectCtrl2">
        <select name="" ng-model="selectedSite">
            <option value="{{x.url}}" ng-repeat="x in names">
                {{x.site}}
            </option>
        </select>
        <span>你选中的是{{selectedSite}}</span>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script>
    angular.module('select',[])
        .controller('selectCtrl0',function ($scope) {
            $scope.names = {
                site01:'google',
                site02:'baidu',
                site03:'wangyi'
            };
        })
        .controller('selectCtrl',function ($scope) {
            $scope.names = [{
                'site':'google',
                'url':'www.google.com'
            },{
                'site':'baidu',
                'url':'www.baidu.com'
            },{
                'site':'wangyi',
                'url':'www.126.com'
            }];
        })
        .controller('selectCtrl2',function ($scope) {
            $scope.names = [{
                'site':'google',
                'url':'www.google.com'
            },{
                'site':'baidu',
                'url':'www.baidu.com'
            },{
                'site':'wangyi',
                'url':'www.126.com'
            }];
        })
</script>
</body>
</html>