@import "../../common/stylus/mixin.styl"
.cartctrl
    display inline-block
    height 48px
    .iconfont
        display inline-block
        font-size 24px
        color rgb(0,160,220)
        line-height 48px
        // font-weight bold
    .count
        display inline-block
        width 24px
        vertical-align top
        text-align center
        line-height 48px
        
